body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  //padding-left: 35px;
  //padding-right: 35px;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}