/*FONTSIZE*/
$fontsize-box-number: 54px;
$fontsize-title--big: 32px;
$fontsize-base: 18px;
$fontsize-title: 24px;

/*LINEHEIGHT*/
$lineheight-title--big: 38px;
$lineheight-title: 28px;
$lineheight-base: 21px;

/*COlOR*/
$color-bg-grey: #F0F0F0;
$color-txt-lightgrey: #9B9B9B;
$color-txt-darkgrey: #4A4A4A;
$color-box: #CF9375;
$color-box-number: #EFF9F0;
$color-plus-icon: #00A5CF;
$color-blue: #4AC3E3;
$color-lightblue: #6DC7DE;
/*STYLE*/
$border-radius: 3px;

/*MEDIA*/
$tablet-widths: "(min-width: 680px)";
$desktop-widths: "(min-width: 1050px)";
$mobile-widths-only: "(max-width: 767px)";
