@import "global/normalize.scss";
@import "global/variables.scss";
@import "global/mixins.scss";
@import "global/fonts.scss";
@import "global/global.scss";

@import "blocks/boxes.scss";
@import "blocks/btn.scss";
@import "blocks/main-nav.scss";
@import "blocks/box-inside.scss";


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
